
.header {
    padding: 20px;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    nav a {
      color: white;
      margin-left: 15px;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  